ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li .cardimg {
	height:100px; 
	width:80px; 
	background-color: white;
	float:left; 
	/*display:none;*/

	
}


	

.cardimg.White{
	background-color: #FAFAFA;
}

.cardimg.Green{
	background-color: #C1FFAB;
}

.cardimg.Blue{
	background-color: #ABE2FF;
}

.cardimg.Red{
	background-color: #FC6868;
}

.cardimg.Black{
	background-color: #BBBBBB;
}

li.cardsingle{
	/*clear:both; */
	height:11em; 
	box-sizing: border-box;
	padding: 0.25em 0.5em 0 0.5em;
	margin-bottom: 0.5em; 
	border: 5px solid #BBBBBB;
	/*margin-right:1em;*/
}

li.cardsinglegrid{
	/*clear:both; */
	height:120px; 
	width:90px; 
	float:left;
	box-sizing: border-box;
	padding: 0.25em 0.5em 0 0.5em;
	margin: 0.5em; 
	border: 5px solid #BBBBBB;
	/*margin-right:1em;*/
	position: relative;
}

li.cardsinglegrid p{
	margin: 0;
	text-align: center;
	vertical-align: middle;
	/*line-height: 100px;        the same as your div height */
	font-size: 16px;
	font-weight: bold;

	box-sizing: border-box;
	padding: 0.25em 0.25em 0.25em 0.25em;
	position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

li.White{
	background-color: #FEFEFE;
	/*border-color: #BBBBBB;*/
}

li.Green{
	background-color: #C1FFAB;
	/*border-color: #BBBBBB;*/
}

li.Blue{
	background-color: #ABE2FF;
}

li.Red{
	background-color: #FC6868;
}

li.Black{
	background-color: #AAAAAA;
}