<div class="container-fluid">
  <div class="row">
    <div class="col-md-0">
      <!--Sidebar snippet-->

      Search: <input ng-model="query"><br /><p></p>
	  Card Type: <select ng-model="type">
		<option value=''></option>
		<option value=1>LRIG</option>
		<option value=2>Arts</option>
		<option value=3>Signi</option>
		<option value=4>Spell</option>
		</select>
	  Color: <select ng-model="color">
		<option value=''></option>
		<option value=1>White</option>
		<option value=2>Red</option>
		<option value=3>Blue</option>
		<option value=4>Green</option>
		<option value=5>Black</option>
		<option value=6>Colorless</option>
		</select>
	  Set: <select ng-model="set">
		<option value=""></option>
		<option value="wx01">WX01-Served Selector</option>
		<option value="wx02">WX02-Stirred Selector</option>
		</select><p></p>
    </div>
	
    <div class="col-md-10">
      <!--Body snippet-->
	
      <ul class="cards">
        <li ng-repeat="card in cards | filter:query | filter:set | filter:{type: type} | filter:{color: color}">
		  {{card.set}} -
		  {{card.number}} |
          {{card.name}}<br />
		  {{card.stat}}<br />
          <p>{{card.cardText}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
